
html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em 'Source Sans Pro', arial, sans-serif;
  background: #EBEBEB;
  color: #000;
}

p { 
  padding: 0 0 16px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
  float: center; 
}
h1, h2, h3, h4, h5, h6 { 
  color: #000;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% 'News Cycle', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  padding: 0 0 5px 0;
  font: normal 120% 'Droid Sans', arial, sans-serif;
}

h5, h6 { 
  font: italic 100% 'Droid Sans', arial;
  padding: 0 0 15px 0;
}

h6 { 
  font: normal 100% 'Droid Sans', arial;
}

a, a:hover { 
  outline: none;
  text-decoration: none;
  color: #3C7FA3;
}

a:hover { 
  text-decoration: underline;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  background: transparent;
}

header { 
  background: #1D1D1D;
  background-image: url(../images/bg_pattern.png);
  height: 200px;
}

#logo { 
  width: 900px;
  height: 180px;
  background: transparent;
  color: #888;
  padding: 20px 0 0 0;  
}

#logo #logo_text { 
  width: 900px;
  left: 0;
  padding: 0 20px 20px 20px;
}
#logo h1, #logo h2 { 
  font: normal 400% 'Roboto Condensed', sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 5px 0;
  text-shadow: 0 0 5px #000;
}
#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
  color: #FFF;
  letter-spacing: 3px;
}

nav { 
  height: 44px;
  margin: -44px auto 0 auto;
  color: #e3e3e3;
  background: #1D1D1D;
  background-image: url(../images/bg_pattern.png);
  border-bottom: 10px solid #3C7FA3;
} 
#menu_container { 
  width: 900px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 900px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 30px 0 25px 0;
} 

#sidebar_container { 
  float: left;
  width: 240px;
  margin: 15px 20px 0 5px;
}

.sidebar { 
  width: 220px;
  margin: 0 0 0px 0;
  padding: 0 15px 15px 13px;
}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  margin: 0 1px;
  font-family: 'Roboto Condensed', sans-serif;
}

.sidebar h3 { 
  padding: 6px 15px 6px 10px;
  margin: 0 0 5px 0;
  background-color: #e0e0e0;
}
.sidebar h4, h5 {
  font-family:'Roboto Condensed', sans-serif;
}

.sidebar ul { 
  margin: 0 0 15px 0;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #000;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.content { 
  text-align: justify;
  width: 630px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}

.content p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 105%;
}
.content img {
  border: 3px solid #BDBDBD;
}

.content iframe{
	border: 3px solid #BDBDBD;
}

.content #profil-texte{
  padding: 10px;
  background-color: #e0e0e0;
}
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background-position: 5px 7px;
  margin: 0 0 0 0; 
  padding: 0 0 2px 0px;
}

footer { 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 108%;
  height: 125px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #1D1D1D;
  background-image: url(../images/bg_pattern.png);
  color: #FFF;
  margin-bottom: -20px;
  border-top: 6px solid #3C7FA3;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% 'Times New Roman', Times, serif;
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 100% 'Times New Roman', Times, serif;
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1A1225; 
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.form_settings textarea, .form_settings select { 
  font: 100% 'Times New Roman', Times, serif;
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #555;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
  text-shadow: none;
}
  
table tr td { 
  background: #DDD;
  color: #47433F;
  border-top: 1px solid #FFF;
}

html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 220px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit;
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
ul.sf-menu ul a { 
  zoom: 1;
}

ul.sf-menu ul li { 
  float: left;
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #C41633;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:5px 20px 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 2px #000;
  text-decoration: none;
  color:#FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  background-color: #3C7FA3;
  color: #FFF;
  text-decoration: none;
}

.collapseClick h2{
  background-color: #3C7FA3;
  color: white;
  padding: 13px;
  font-size: 18px; 
  margin-bottom: 0px;
  border-bottom: 3px solid #709DB5;
}

a.collapseClick:hover {
  text-decoration: none;
}
.hide {
  margin-bottom: 40px;
}

#contact {
  width: 285px;
  float: left;
}
#contact li a{
  display: block;
}
#contact li p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c0c0c0;
}
#contactPicture{
  float: left;
  margin-right: 40px;
}