body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #f2f0eb url(images/bg.png);
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

#container {
	width: 960px; margin: 0 auto;
}

#logo {
	position: center; width: 183px;
}

ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -134px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		background: url(images/nav-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 316px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0;
		}

		ul#nav li a {
			color: #616369; text-decoration: none;
		}
			ul#nav li a:hover {
				color: #a12121;
			}

#header {
	height: 244px; padding: 52px 0 0 57px;
	background: url(images/home-header.png);
}

#header.page {
	height: 91px; padding: 52px 0 0 57px;
	background: url(images/inner-header.jpg);
}

	#header h1 {
		font: 38px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 30px 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header h2 {
		width: 510px; font: 30px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header p.btn{
		position: relative; right: -200px; top: -60px; display:block; overflow: hidden;
	}
	#header a:link{
		color: white;
	}
	#header a:visited{
		color: pink;
	}
	#header a:hover{
		color: lightblue;
	}
	#header a:active{
		color: black;
	}
	
#content {
	background: url(images/content-bg.png) repeat-y;
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font: 30px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0; text-align: justify; text-justify: inter-word;
	}
	
	#content a {
		color: #a12121; text-decoration: none;
	}
		#content a:hover {
			color: #671111;
		}

#cv {
	background: url(images/content-bg.png) repeat-y;
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#cv h2 {
		position : relative; float: center; font: 30px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#cv h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 30px 20px 20px 0;
	}
	
	#cv p {
		margin: 0 0 30px 0; text-align: justify; text-justify: inter-word;
	}
	
	#cv a {
		color: #a12121; text-decoration: none;
	}
		#cv a:hover {
			color: #671111;
		}
	#cv object {
		position: relative; float: middle; margin: 50px 0 0 0; width: 825px; height: 700px;
	}

#content .portfolio-item {
	width: 240px; padding: 10px; background: #eee; text-align: center;
	float: left; margin: 0 7px 14px 7px;
}
	#content .portfolio-item p.btn {
		margin: 0;
	}
	#content .portfolio-item p {
		margin: 0; text-align: center;
	}
	#content .portfolio-item p.btn a {
		display: block; width: 183px; height: 30px; padding: 8px 0 0 0;
		background: url(images/see-more-bg.png);
		font-weight: bold; text-align: center; text-transform: uppercase;
		 text-decoration: none;
	}

#content .portfolio-item-email {
	font: 15px Georgia, Serif; width: 785px; padding: 10px; background: #eee; text-align: left;
	float: left; margin: 0 7px 14px 7px;
}
	#content .portfolio-item-email input{
		font: 15px Georgia, Serif; padding: 5px 5px 5px 5px;
	}
	#content .portfolio-item-email input#submit_button{
		float: left; font: 15px Georgia, Serif; padding: 10px 10px 10px 10px background: #fff;
	}
		
#content img.profile-pic {
	float: right; margin: -40px 40px 0 0;
}
		
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}
		
#footer {
	background: url(images/footer-bg.png) no-repeat; padding: 40px 0 0 0;
	overflow: hidden; margin: 0 0 30px 0;
}
	#footer p#copyright {
		font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
	}
	#footer p#back-top {
		font-size: 12px; float: right; margin: 0 30px 0 0;
	}
		#footer a {
		color: #a12121; text-decoration: none;
	}
		#footer a:hover {
			color: #671111;
	}
	#footer a#social{
			float: right; margin: 0 0 0 0; width: 75px; height: 75px
	}
	#footer a#twitter{
			float: right; margin: 0 0 0 0; width: 85px; height: 85px
	}
	#footer p#menu {
			position: relative ; left: 350px; margin: 20px 0 0 0;
	}