/* Style the video: 100% width and height to cover the entire window */
#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    overflow: hidden;
   display: flex;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.cards {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   max-width: 100%
}
.card {
}